@model Registro_de_Usuario.Models.SignIn

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="card card-container">
        <h3 class="titleLogin">Registrarse</h3>
        @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.TextBoxFor(s => s.Name, new { @class = "form-danger", @placeholder = "Name" })
                @Html.ValidationMessageFor(s => s.Name, "", new { @class = "text-danger" })
            </div><br />
            <div>
                @Html.TextBoxFor(s => s.LastNAme, new { @class = "form-danger", @placeholder = "Last name" })
                @Html.ValidationMessageFor(s => s.LastNAme, "", new { @class = "text-danger" })
            </div><br />
            <div>
                @Html.TextBoxFor(s => s.User, new { @class = "form-danger", @placeholder = "User name" })
                @Html.ValidationMessageFor(s => s.User, "", new { @class = "text-danger" })
            </div><br />
            <div>
                @Html.TextBoxFor(s => s.Email, new { @class = "form-danger", @placeholder = "Email" })
                @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-danger" })
            </div><br />
            <div>
                @Html.TextBoxFor(s => s.Password, new { @class = "form-danger", @placeholder = "Password" })
                @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
            </div><br />
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <p class="errorMessage">@ViewBag.Message</p>
            }
            <input type="submit" value="Registrar" class="btn btn-signin"/>

        }<br/>
        @Html.ActionLink("Login", "Index", "Home")
    </div>
</div>

